<p id="notice"><%= notice %></p>

<p>
  <strong>Urgente:</strong>
  <%= @habibs_issue.urgente %>
</p>

<p>
  <strong>Nome completo:</strong>
  <%= @habibs_issue.nome_completo %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @habibs_issue.cpf_cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @habibs_issue.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @habibs_issue.email %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @habibs_issue.perfil %>
</p>

<p>
  <strong>Rede:</strong>
  <%= @habibs_issue.rede %>
</p>

<p>
  <strong>Habibs:</strong>
  <%= @habibs_issue.habibs %>
</p>

<p>
  <strong>Ragazzo:</strong>
  <%= @habibs_issue.ragazzo %>
</p>

<p>
  <strong>Hibridas:</strong>
  <%= @habibs_issue.hibridas %>
</p>

<p>
  <strong>Numero do pedido:</strong>
  <%= @habibs_issue.numero_do_pedido %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @habibs_issue.segmento %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @habibs_issue.grupo %>
</p>

<p>
  <strong>Midia:</strong>
  <%= @habibs_issue.midia %>
</p>

<p>
  <strong>Emissor:</strong>
  <%= @habibs_issue.emissor %>
</p>

<p>
  <strong>Atendente:</strong>
  <%= @habibs_issue.atendente %>
</p>

<p>
  <strong>Status:</strong>
  <%= @habibs_issue.status %>
</p>

<p>
  <strong>Reclamacao:</strong>
  <%= @habibs_issue.reclamacao %>
</p>

<p>
  <strong>Resolucao:</strong>
  <%= @habibs_issue.resolucao %>
</p>

<p>
  <strong>Fechamento:</strong>
  <%= @habibs_issue.fechamento %>
</p>

<p>
  <strong>Data de resolucao:</strong>
  <%= @habibs_issue.data_de_resolucao %>
</p>

<p>
  <strong>Data de fechamento:</strong>
  <%= @habibs_issue.data_de_fechamento %>
</p>

<%= link_to 'Edit', edit_habibs_issue_path(@habibs_issue) %> |
<%= link_to 'Back', habibs_issues_path %>
